.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
}

#child {
    border: 1px solid black;
    font-size: 800%;
    text-align: center;
}

.info {
    margin-right: auto;
    margin-left: auto;
}